@import '/css/shared';

.slider {
    overflow: hidden;
}

.slider-container {
    display: flex;
    align-items: center;
    width: 300%;
    transition: transform 0.5s;
}

.portfolio-info {
    width: 45vw;
}

.portfolio-image img {
    width: 45vw;
}

#portfolio-title-h4 {
    margin-bottom: 0.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

#portfolio-title-h3 {
    margin: 0;
    font-size: 5vw;
    font-weight: 800;
}

#portfolio-p-1 {
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#portfolio-p-2 {
    margin-bottom: 2rem;
}

.portfolio-link {
    align-items: center;
    color: var(--one);
}

.link-arrow {
    transition: 200ms ease;
    margin-left: 0.5rem;
}

#navigation {
    margin-top: 4rem;
}

.slider-dots {
    list-style: none;
    padding: 0;
    gap: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.slider-dot {
    width: 1rem;
    height: 1rem;
    background-color: rgb(43, 216, 144);
    border-radius: 50%;
    cursor: pointer;
}

.slider-dot.active {
    background-color: rgb(29, 130, 87);
}

@media screen and (max-width: 840px) {
    .slider-container {
        margin-left: 1rem;
        margin-right: 1rem;
        display: block;
        /* height: 80vh; */
    }

    .portfolio-info {
        width: 80vw;
        margin: 0 2rem;
    }

    .portfolio-image {
    }

    .portfolio-image img {
        position: relative;
        width: 32%;
        margin-top: 2rem;
        right: 0.7rem;
    }
}
